#checkout{
    text-align: center;
    margin-top: 40px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#checkout p .fa-cart-arrow-down{
    font-size: 300px;
    color: rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#checkout button{
    margin-top: 20px;
}
#checkout h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#checkout h4{
    font-family: serif;
    font-size: large;
    margin-top: 30px;
}
#checkout .clear-cart {
    cursor: pointer;
    text-decoration: underline;
    font-size: large;
}
#checkout .checkout{
    width: 90%;
    font-weight: bolder;
    background-color: #000;
    color: #fff;
}

#cart-items{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
#cart-items .cart-item{
    border: 1px solid #000;
    width:  49%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 3px;
}
#cart-items .cart-item img{
    background-color: rgb(198, 195, 195);
    border-radius: 5px;
}

#cart-items .cart-item .card-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
#cart-items .cart-item .card-details .title-x{
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}
#cart-items .cart-item .card-details .title-x h5{
    font-size: large;
}
#cart-items .cart-item .card-details .fa-trash{
    color: red;
}
#cart-items .cart-item .card-details .price-qty-x{
    display: flex;
    justify-content: space-between;
}

#cart-items .cart-item .card-details .price-qty-x .qty{
    display: flex;
    width: 17%;
    justify-content: space-between;
}
#cart-items .cart-item .card-details .price-qty-x .qty .amount{
    padding:10px 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cart-items .cart-item .card-details .price-qty-x .qty i{
    align-self: center;
    background-color: #000;
    color:#fff;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}
#cart-items .cart-item .card-details .price-qty-x .price-x h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cart-items .cart-item .card-details  h4{
    border: 1px solid #000;
    padding: 3px;
    background-color: rgb(51, 47, 47);
    border-radius: 5px;
    color: #fff;
    width: fit-content;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Best Selling Products*/
#bsp {
    width:90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#bsp header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    color: rgb(110, 54, 54);
}
#cover{
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}
#scroll-cards{
    display: flex;
    justify-content:flex-start;
    overflow-y: hidden;
    overflow-x:auto;
    flex-wrap:nowrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    gap: 10px;
}
#scroll-cards::-webkit-scrollbar{
    -webkit-appearance: none;
}
#scroll-cards .sc-card{
    width: 270px;
    height: auto;
    background-color:rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    flex: 0 0 auto;
    transition: all 0.2s ease-in-out;
    gap: 20px;
}
#scroll-cards .sc-card:hover{
    transform:scale(1.1, 1.1);
}
#scroll-cards .sc-card img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.sc-card button{
   margin-right: 10px;
   margin-bottom: 10px;
   float: right;
   visibility: hidden;
   color: #fff;
}
.sc-card button a{
    text-decoration: none;
    color: #fff;
}
/*Scroll buttons*/
.icon{
    position: relative;
    align-self: center;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #bsp{
        margin-top: 50px;
    }
    #bsp header{
        font-size: x-large;
    }
    
    #scroll-cards{
        gap:10px;
    }
    #scroll-cards .sc-card{
        margin:auto;
    }

    #checkout{
        width: 90%;
    }
    
#checkout p .fa-cart-arrow-down{
    font-size: 150px;
}
#cart-items{
    width: 90%;
}
#cart-items .cart-item{
    width: 100%;
    height: auto;
}
#cart-items .cart-item .card-details  h4{
    width:fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#cart-items .cart-item .card-details{
    gap: 20px;
}
#cart-items .cart-item .card-details .title-x h5{
    font-size: small;
}
#cart-items .cart-item .card-details .price-qty-x .qty i{
    font-size: small;

}

}