/*Earring Page*/
#studs{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#studs header{
    font-size: xx-large;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 30px;
}
/*Earring Cards*/
#products{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#products header{
    background-color: rgba(202, 202, 202,0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-content: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#products header p{
    margin-top: 10px;
    font-weight: 500;
}
#products header a{
    text-decoration: none;
    margin-top: 10px;
    font-weight: 500;
}
#studs-cards{
    display: grid;
    grid-template-columns: repeat(5, 223px);
    gap: 45px;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*
@media only screen and (max-width: 1200px) {
    #studs-cards{
        grid-template-columns: repeat(4, 223px);
    }
}*/
#studs-cards::-webkit-scrollbar{
    -webkit-appearance: none;
}
#studs-cards .std-card{
    width: 250px;
    height: auto;
    background-color:rgba(255, 255, 255, 0.3);
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    flex: 0 0 auto;
    transition: all 0.2s ease-in-out;
    justify-content: space-between;
    border: 2px solid rgb(165, 165, 165);
}
#studs-cards .std-card:hover{
    transform:scale(1.1, 1.1);
}
#studs-cards .std-card img{
    width: 240PX;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
}
.std-card .card-txt{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 5px;
}
.std-card .card-txt p{
    font-size: small;
    font-family: serif;
}
.std-card .card-txt h3{
    font-size: large;
    font-family:monospace ;
    font-weight: 600;
}
.std-card .card-txt .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.std-card .card-txt .price h2{
    font-size: large;
    font-weight: 300;
    font-family:fantasy;
    align-self: center;
}
.std-card .card-txt .price .quantity{
    display: flex;
    gap: 8px;
    padding: 0px 10px;
}
.std-card .card-txt .price .quantity i{
    font-weight: 700;
    font-size: small;
    padding: 0;
    align-self: center;
}
.std-card .card-txt .price .quantity  .amount{
    border: 1px solid #000;
    padding:0 5px;
    background-color: #fff;
}
/*
.std-card .card-txt .price .quantity .fa-minus{
    color: red;
}
.std-card .card-txt .price .quantity .fa-plus{
    color: green;
}*/
.std-card  button{
   color: #fff;
   width: 95%;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#studs-cards .va{
    display: none;
}
#va{
    cursor: pointer;
    float: right;
    margin-right: 20px;
}
