*{
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 0, 0, 0.2);
}

/*top-bar*/
#top-bar{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    text-decoration: none;
}

#logo img{
    align-self: center;
    margin: 10px;
}
#logo a{
    margin-left: 10px;
    text-decoration: none;
    display: flex;
}
#logo a p{
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    color: red;
    align-self: center;
    margin-top: 20px;
}
#logo-color{
    color: #000;
}
#navigation{
    align-self: center;
    margin-right: 70px;
}
#navigation i{
    color: black;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}
/*hero*/
#hero{
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color:rgba(255, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}
#hero-text{
    width: 50%;
    color: #000;
    padding-left: 20px;
}
#hero-text p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 700;
}
#hero-text button{
    border-radius: 15px;
    background-color:rgb(255, 0, 0);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero-img{
    margin-top: 20px;
}

/*Categories*/
#categories {
    width:90%;
    height: auto;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
#categories header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    color: rgb(91, 91, 91);
}
#c-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
#c-cards .card{
    width: 270px;
    height: 240px;
    background-color:rgba(255, 0, 0, 0.1);
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
}
#c-cards .layer{
    position: absolute;
    width: 270px;
    height: 240px;
    background-color: rgba(0,0,0,0.5);
    visibility: visible;
    display: none;
    border-radius: 10px;
}
#c-cards .layer .icons{
    display: flex;
    justify-content: center;
}
#c-cards .layer i{
    background-color: #000;
    border-radius: 10px;
    margin-left: 10px;
    font-size: xx-large;
    color: #fff;
    padding: 5px;
}
#c-cards .layer i:hover{
    background-color: rgb(57, 56, 56);
    cursor: pointer;
}
.c-text{
    text-align: center;
    padding-top: 30%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    color: rgb(255,255,255);
}

#c-cards .card .card-img{
    margin-left: auto;

}
#c-cards .card .card-img img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/*Best Selling Products*/
#bsp {
    width:90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#bsp header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    color: rgb(91, 91, 91);
}
#cover{
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}
#scroll-cards{
    display: flex;
    justify-content:flex-start;
    overflow-y: hidden;
    overflow-x:auto;
    flex-wrap:nowrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
#scroll-cards::after{
background-color: thistle;
}
#scroll-cards::-webkit-scrollbar{
    -webkit-appearance: none;
}
#scroll-cards .sc-card{
    width: 270px;
    height: auto;
    background-color:rgba(255, 0, 0, 0.1);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    flex: 0 0 auto;
    transition: all 0.2s ease-in-out;
    margin-left: 30px;
}
#scroll-cards .sc-card:hover{
    width: 280px;
    height: auto;
    transform:scale(1, 1.1);
}
#scroll-cards .sc-card img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.sc-card button{
   margin-right: 10px;
   margin-bottom: 10px;
   float: right;
   visibility: hidden;
   color: #fff;
}

.icon{
    position: relative;
    align-self: center;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
}
/*Shero*/
#shero{
    width: 90%;
    height: 450px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}
#shero #company-name{
    width: 33.33%;
    align-self: center;
    margin: 0;
    padding: 0;
}
#shero #company-name .large{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-weight: 700;
    color: rgb(101, 101, 101);
    margin-left: 30px;
}
#shero #company-name .larger{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 140px;
    font-weight: 700;
    color:red;
    margin-left: 30px;
}

#shero-img{
    width: 33.33%;
    height: auto;
}
#shero-img img{
    width: 35%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
#shero #caption{
    width: 33.33%;
    margin-left: 60px;
    align-self: center;
    margin-left: 200px;
}
#shero #caption p{
    font-family:allura;
    font-size: 30px;
    font-weight: 200;
    color:#000;
    margin-left: 10px;
    margin-right: 20px;
}
#shero #caption button{
    border: none;
}